@charset "utf-8";

html {
  height: 100%;
}

body{
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  background-image: url(../img/n_back.jpg);
  background-size: cover;
}

.centrer{text-align: center;}
.petit{font-size: 12px;}
.gras{font-weight: bold;}
.textrouge{ color: #FF0000;}
.textvert{ color: #009900;}
.droit{text-align: right; margin-right: 40px;}
.inline{display: inline;}
.nodeco{text-decoration: none; color: #000;}
.lienem:hover{font-size: 15px;}
.hoverRed:hover{color: #FF0000;}

nav{
  margin-left: 20px;
  line-height: 31px;
}
nav img{
  width: 30px;
  vertical-align: middle;
}
nav img:hover{
/* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}
.sepnav{
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
}
#btnNav{
  display: none;
}
#burger{
  display: none;
}

#form{
  text-align: center;
}

#form2{
  text-align: center;
}

#erreur{
  text-align: center;
}

#recup_mdp{
  text-align: center;
}

#titre{
  font-size: 100%;
  color : #000;
  text-align: center;
}

/* NAV NOTIFS */
.notif{
  position: absolute;
  color: #FF0000;
  margin-top: -15px;
  margin-left: -10px;
  border: 1px solid #FF0000;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
  line-height: 20px;
  background: #fce8e8;
}

/* loading */
.grid-1.center{text-align: center;}
.verif{ text-align: center; margin-bottom: 50px; margin-top: 150px;}

/* membre */
.membre{
  min-height: 100vh;
}

.boxdroite{
  position: relative;
  text-align: right;
  margin-right: 20px;
  margin-top: -40px;
  color: #000;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #000;
  border-radius: 0 0 10px 10px;
  text-align: center;
  margin-left: 73%;
}
.boxMid{
  min-height: 150px;
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.boxMid img{
  width: 125px;
  vertical-align: middle;
}
.boxMid img:hover{
/* L'image est grossie de 25% */
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}
.boxMid a{text-decoration: none;}
.descImg{
  color: #000;
}


/* PROFIL */
.profilName{text-align: center;}
.photoP{
display: inline-block;
border: 1px solid #000;
border-radius: 50%;
height: 200px;
width: 200px;
overflow: hidden;
margin-bottom: 0;
}
.photoP img{
width: 100%;
height: 100%;
object-fit: cover;
}
.inputProfil{
  text-align: center;
  width: 400px;
}

/*         CHAT     */
.chat{
  position: relative;
  display: inline-block;
  margin-left: 14px;
  border-width: medium;
  border-color: orange;
  border-style: solid;
  border-radius: 10px;
  min-height: 380px;
  max-height: 380px;
  padding-top: 10px;
  padding-right: 5px;
  overflow: auto;
  background-color: #fff;
}
.miniPc{
display: inline-block;
border: 1px solid #000;
border-radius: 20%;
height: 30px;
width: 30px;
overflow: hidden;
margin-bottom: 0;
}
.miniPc img{
width: 100%;
height: 100%;
object-fit: cover;
}
.pseudo{
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}
.message{
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}
.entree{
  text-align: center;
  width: 100%;
}
.champMess{
margin-top: 10px;
height: 20px;
width: 90%;
}
#droite{
  line-height: 30px;
  vertical-align: top;
  position: relative;
  float: right;
  margin-right: 20px;
  text-align: right;
}
#droite a{
  background-color: #9fcdf9;
  padding: 5px;
  border-radius: 10px;
}
#droite a:hover{
  background-color: #009900;
}
.nameC{
  text-decoration: none;
  color: #000;
}

/*PROFIL VIEW */
.inter{
  margin: 2px;
  border:none;
	padding:6px;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}
.btn{
  margin-top: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.vert{background-color:#009900;border-color:#009900; }
.orange{background-color: #ff6600;}
.description{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border: 1px solid #000; 
  border-radius: 10px;
  padding: 1%;
}

/* IF WEBMASTER */ 
.webmaster{
  transform: rotate(-55deg);
  position: relative;
  max-width: 15%;
  margin: 0;
  padding: 5px;
  color: #fff;
  background-color: #ff6600;
  border-radius: 20%;
}
/* IF ADMIN */ 
.admin{
  transform: rotate(-55deg);
  position: relative;
  max-width: 15%;
  margin: 0;
  padding: 5px;
  color: #fff;
  background-color: #FFD700;
  border-radius: 20%;
}
/* IF MODO */

.modo{
  transform: rotate(-55deg);
  position: relative;
  max-width: 15%;
  margin: 0;
  padding: 5px;
  color: #fff;
  background-color: #00e64d;
  border-radius: 20%;
}

 /* PAGE AMIS */
.boxAmis{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 10px;
}
.Amis{
  height: 70px;
  line-height: 70px;
  margin-left: 20px;
}
.Amis img{
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: top;
}
.Amis span{
  font-weight: bold;
}
.Lprofil a {
  text-decoration: none;
  color: #000;
}
.Lprofil a:hover{
  color: #FF0000;
}

/* Btn envoie message */
.btnM{
	background-color:#009900;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #009900;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #009900;
}
.droite{
  position: relative;
  float: right;
  margin-right: 20px;
  text-align: right;
}
.rouge{ 
  background-color:#FF0000;
  border:1px solid #FF0000;
  text-shadow:0px 1px 0px #FF0000;
}


/*  404 */
.e404{
  padding: 50px;
  min-height: 400px;
}
.e404 img{
 width: 3%;
 line-height: 20px;
 vertical-align: middle;
}
.e404 a{
  background-color:#009900;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #009900;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #009900;
}
/* message privé */
.pm a {
  text-decoration: none;
  color: #000;
}
.pm a:hover{
  color: #FF0000;
}
.heure{
  position: relative;
  float: right;
  margin-right: 20px;

}
/* ALL PAGE MAX  */
.all{
  margin-top: 50px;
  min-height: 100vh;
}
.all0{
  margin-top: 0;
  min-height: 100vh;
}


/* ADMIN */
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0;
}
table, th, td {
  padding: 10px;
  border: solid 2px #000;
  border-collapse: collapse;
}
/* ADMIN BAN */

#check{
  display: none;
}

/* ADMIN DOWNGRADE */
#select{
  display: none;
}

/* LIST USER */
.boxUser{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}
.user{
  height: 70px;
  line-height: 70px;
  margin-left: 20px;
}
.user img{
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: top;
}
.user span{
  font-weight: bold;
}


/* FOOTER */
.footer{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-style: dotted none none none;
}

/* grille */

.container{
	width : 100%; /*1920px*/
}

.container .grid-1{width: 100%;} /* 100% - 0.21% */
.container .grid-1_{width: 100%; opacity: 0;}
.container .grid-2{width: 50%;} /* 50% - 0.21% */
.container .grid-2_{width: 50%; opacity: 0;}
.container .grid-3{width: 25%;} /* 25% - 0.21% */
.container .grid-3_{width: 25%; opacity: 0;}
.container .grid-4{width: 12.5%;} /* 12.5% - 0.21% */
.container .grid-4_{width: 12.5%; opacity: 0;}
.container .grid-5{width: 30%;} /* 33.3% - 0.21% */
.container .grid-5_{width: 33%; opacity: 0;}
.container .grid-6{width: 75%;} /* 75% - 0.21% */
.container .grid-7{width: 87.5%;} /* 87.5% - 0.21% */
.container .grid-8{width: 66.6%;} /* 66.6% - 0.21% */
.container .grid-9{width: 97%;}
.container .grid-10{width: 34%;}
.container .grid-10_{width: 33%; opacity: 0;}
.container .grid-11{width: 0%;}
.container .grid-12{width: 0%;}

.grid-1, .grid-1_, .grid-2, .grid-2_, .grid-3, .grid-3_, .grid-4, .grid-4_, .grid-5, .grid-5_, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-10_, .grid-11, .grid-12{
  position: relative;
  float: left;
}

/* BOX LEGAL ------------------------------------------ */

#Trame{
width:100%;
height:100%;
background-color:rgba(255,255,255,0.7);
position:fixed;
z-index:10;
top: 0;
left: 0;
}
#Legal{
width:90%;
max-width:600px;
background-color:#FFFFFF;
border:1px solid #6d075c;
border-radius:8px;
height:auto;
padding:4px;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%, -50%);
z-index:11;
}
	.closeF{
	width:80px;
	height:25px;
	background-color:#00978f;
	border-radius:0 8px 0 8px;
	color:#FFFFFF;
	font-size:12px;
	text-align:center;
	line-height:25px;
	vertical-align:middle;
	position:relative;
	float:right;
	top:-4px;
	right:-4px;
	}
	.closeF a{
	color:#FFFFFF;
	text-decoration:none;
	}


#Iti{
    display: none;
    width: 900px;
    height: 600px;
    background-color: #6d074b;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    position: fixed;
    float: left;
    top: 50%;
    left: 50%;
    margin-top: -310px;
    margin-left: -460px;
    padding: 10px;
    z-index: 9;
}
/* ----------------------------------------------------------------- */
